Repository blitzy-public-samples/test1-k81ftt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-admins, @backend-team, @frontend-team, @devops-team, @backend-core-team, @backend-api-team, @frontend-components-team, @frontend-state-team, @security-team, @qa-team

Add public-samples/test1-k81ftt/src/backend/src/middleware/auth.middleware.ts
  src/backend/src/middleware/auth.middleware.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/middleware/error.middleware.ts
  src/backend/src/middleware/error.middleware.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/middleware/logging.middleware.ts
  src/backend/src/middleware/logging.middleware.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/middleware/validation.middleware.ts
  src/backend/src/middleware/validation.middleware.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/models/Comment.ts
  src/backend/src/models/Comment.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/models/File.ts
  src/backend/src/models/File.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/models/Project.ts
  src/backend/src/models/Project.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/models/Task.ts
  src/backend/src/models/Task.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/models/User.ts
  src/backend/src/models/User.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/realtime/WebSocketManager.ts
  src/backend/src/realtime/WebSocketManager.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/realtime/handlers/CollaborationHandler.ts
  src/backend/src/realtime/handlers/CollaborationHandler.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/realtime/handlers/NotificationHandler.ts
  src/backend/src/realtime/handlers/NotificationHandler.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/realtime/handlers/PresenceHandler.ts
  src/backend/src/realtime/handlers/PresenceHandler.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/types/auth.types.ts
  src/backend/src/types/auth.types.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/types/common.types.ts
  src/backend/src/types/common.types.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/types/event.types.ts
  src/backend/src/types/event.types.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/types/request.types.ts
  src/backend/src/types/request.types.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/types/response.types.ts
  src/backend/src/types/response.types.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/utils/encryption.util.ts
  src/backend/src/utils/encryption.util.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/utils/error.util.ts
  src/backend/src/utils/error.util.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/utils/logger.util.ts
  src/backend/src/utils/logger.util.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/utils/validation.util.ts
  src/backend/src/utils/validation.util.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/tests/integration/auth.test.ts
  src/backend/tests/integration/auth.test.ts
Owners: @qa-team

Add public-samples/test1-k81ftt/src/backend/tests/integration/project.test.ts
  src/backend/tests/integration/project.test.ts
Owners: @qa-team

Add public-samples/test1-k81ftt/src/backend/tests/integration/task.test.ts
  src/backend/tests/integration/task.test.ts
Owners: @qa-team

Add public-samples/test1-k81ftt/src/backend/tests/unit/services/analytics.service.test.ts
  src/backend/tests/unit/services/analytics.service.test.ts
Owners: @qa-team

Add public-samples/test1-k81ftt/src/backend/tests/unit/services/auth.service.test.ts
  src/backend/tests/unit/services/auth.service.test.ts
Owners: @qa-team

Add public-samples/test1-k81ftt/src/backend/tests/unit/services/project.service.test.ts
  src/backend/tests/unit/services/project.service.test.ts
Owners: @qa-team

Add public-samples/test1-k81ftt/src/backend/tests/unit/services/task.service.test.ts
  src/backend/tests/unit/services/task.service.test.ts
Owners: @qa-team

Add public-samples/test1-k81ftt/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @frontend-team

Add public-samples/test1-k81ftt/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/test1-k81ftt/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/test1-k81ftt/src/web/index.html
  src/web/index.html
Owners: @frontend-team

Add public-samples/test1-k81ftt/src/web/package.json
  src/web/package.json
Owners: @devops-team, @security-team

Add public-samples/test1-k81ftt/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/test1-k81ftt/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team

Add public-samples/test1-k81ftt/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team

Add public-samples/test1-k81ftt/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @frontend-team

Add public-samples/test1-k81ftt/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team

Add public-samples/test1-k81ftt/src/web/src/assets/fonts/index.ts
  src/web/src/assets/fonts/index.ts
Owners: @frontend-team

.github/CODEOWNERS:

* @project-admins

# Backend code ownership
src/backend/** @backend-team

# Frontend code ownership
src/web/** @frontend-team

# Infrastructure code ownership
infrastructure/** @devops-team

# CI/CD workflow ownership
.github/workflows/** @devops-team

# Core backend services ownership
src/backend/src/core/services/** @backend-core-team

# API endpoints ownership
src/backend/src/api/** @backend-api-team

# Frontend components ownership
src/web/src/components/** @frontend-components-team

# Frontend state management ownership
src/web/src/store/** @frontend-state-team

# Security-related code ownership
**/security/** @security-team

# Test files ownership
**/tests/** @qa-team

# Package dependencies ownership (requires both DevOps and Security approval)
package.json @devops-team @security-team
package-lock.json @devops-team @security-team

# Database-related code ownership (requires both Backend and Security approval)
**/database/** @backend-team @security-team

# Environment configuration files (requires both DevOps and Security approval)
**/*.env* @devops-team @security-team
