Repository blitzy-public-samples/test1-k81ftt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-admins, @backend-team, @frontend-team, @devops-team, @backend-core-team, @backend-api-team, @frontend-components-team, @frontend-state-team, @security-team, @qa-team

.github/CODEOWNERS:

* @project-admins

# Backend code ownership
src/backend/** @backend-team

# Frontend code ownership
src/web/** @frontend-team

# Infrastructure code ownership
infrastructure/** @devops-team

# CI/CD workflow ownership
.github/workflows/** @devops-team

# Core backend services ownership
src/backend/src/core/services/** @backend-core-team

# API endpoints ownership
src/backend/src/api/** @backend-api-team

# Frontend components ownership
src/web/src/components/** @frontend-components-team

# Frontend state management ownership
src/web/src/store/** @frontend-state-team

# Security-related code ownership
**/security/** @security-team

# Test files ownership
**/tests/** @qa-team

# Package dependencies ownership (requires both DevOps and Security approval)
package.json @devops-team @security-team
package-lock.json @devops-team @security-team

# Database-related code ownership (requires both Backend and Security approval)
**/database/** @backend-team @security-team

# Environment configuration files (requires both DevOps and Security approval)
**/*.env* @devops-team @security-team

Add public-samples/test1-k81ftt/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team

Add public-samples/test1-k81ftt/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team

Add public-samples/test1-k81ftt/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team

Add public-samples/test1-k81ftt/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team

Add public-samples/test1-k81ftt/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team

Add public-samples/test1-k81ftt/infrastructure/terraform/modules/aks/main.tf
  infrastructure/terraform/modules/aks/main.tf
Owners: @devops-team

Add public-samples/test1-k81ftt/infrastructure/terraform/modules/aks/outputs.tf
  infrastructure/terraform/modules/aks/outputs.tf
Owners: @devops-team

Add public-samples/test1-k81ftt/infrastructure/terraform/modules/aks/variables.tf
  infrastructure/terraform/modules/aks/variables.tf
Owners: @devops-team

Add public-samples/test1-k81ftt/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @backend-team, @security-team

Add public-samples/test1-k81ftt/infrastructure/terraform/modules/database/outputs.tf
  infrastructure/terraform/modules/database/outputs.tf
Owners: @backend-team, @security-team

Add public-samples/test1-k81ftt/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @backend-team, @security-team

Add public-samples/test1-k81ftt/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @devops-team

Add public-samples/test1-k81ftt/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @devops-team

Add public-samples/test1-k81ftt/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @devops-team

Add public-samples/test1-k81ftt/infrastructure/terraform/modules/redis/main.tf
  infrastructure/terraform/modules/redis/main.tf
Owners: @devops-team

Add public-samples/test1-k81ftt/infrastructure/terraform/modules/redis/outputs.tf
  infrastructure/terraform/modules/redis/outputs.tf
Owners: @devops-team

Add public-samples/test1-k81ftt/infrastructure/terraform/modules/redis/variables.tf
  infrastructure/terraform/modules/redis/variables.tf
Owners: @devops-team

Add public-samples/test1-k81ftt/infrastructure/terraform/modules/storage/main.tf
  infrastructure/terraform/modules/storage/main.tf
Owners: @devops-team

Add public-samples/test1-k81ftt/infrastructure/terraform/modules/storage/outputs.tf
  infrastructure/terraform/modules/storage/outputs.tf
Owners: @devops-team

Add public-samples/test1-k81ftt/infrastructure/terraform/modules/storage/variables.tf
  infrastructure/terraform/modules/storage/variables.tf
Owners: @devops-team

Add public-samples/test1-k81ftt/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/.env.example
  src/backend/.env.example
Owners: @devops-team, @security-team

Add public-samples/test1-k81ftt/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/package.json
  src/backend/package.json
Owners: @devops-team, @security-team

Add public-samples/test1-k81ftt/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/prisma/schema.prisma
  src/backend/prisma/schema.prisma
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/prisma/migrations/0000_initial_schema.sql
  src/backend/prisma/migrations/0000_initial_schema.sql
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/server.ts
  src/backend/src/server.ts
Owners: @backend-team

Add public-samples/test1-k81ftt/src/backend/src/api/controllers/analytics.controller.ts
  src/backend/src/api/controllers/analytics.controller.ts
Owners: @backend-api-team

Add public-samples/test1-k81ftt/src/backend/src/api/controllers/auth.controller.ts
  src/backend/src/api/controllers/auth.controller.ts
Owners: @backend-api-team

Add public-samples/test1-k81ftt/src/backend/src/api/controllers/comment.controller.ts
  src/backend/src/api/controllers/comment.controller.ts
Owners: @backend-api-team

Add public-samples/test1-k81ftt/src/backend/src/api/controllers/file.controller.ts
  src/backend/src/api/controllers/file.controller.ts
Owners: @backend-api-team

Add public-samples/test1-k81ftt/src/backend/src/api/controllers/project.controller.ts
  src/backend/src/api/controllers/project.controller.ts
Owners: @backend-api-team

Add public-samples/test1-k81ftt/src/backend/src/api/controllers/task.controller.ts
  src/backend/src/api/controllers/task.controller.ts
Owners: @backend-api-team

Add public-samples/test1-k81ftt/src/backend/src/api/controllers/user.controller.ts
  src/backend/src/api/controllers/user.controller.ts
Owners: @backend-api-team

Add public-samples/test1-k81ftt/src/backend/src/api/middlewares/auth.middleware.ts
  src/backend/src/api/middlewares/auth.middleware.ts
Owners: @backend-api-team
